body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #ffe6f0;
}

header {
    background-color: #ec4689;
    color: white;
    padding: 20px;
}

nav a {
    margin: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
}

ul {
    list-style: none;
}

img {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
}

form {
    background-color: white;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}
